<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nigel">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AccountSettings"
        android:allowBackup="true"
        android:icon="@mipmap/nigel_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nigel_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nigel"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|keyboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.example.nigel"
                    android:path="/1pMGRoAPg72bCoH7tKNfc0d938g="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

        <activity android:name=".DetailedActivity"/>
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".MainActivity"
            android:exported = "true"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|keyboard">
        </activity>

    </application>


</manifest>